*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.header{
    width: 1000px;
    height: 155px;
}
.header .topbox{
    width: 1000px;
    height: 98px;
}
.header .topbox .logo{
    margin-top: 30px;
    margin-left: 20px;
}
.header .topbox .search{
    width: 225px;
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #e3e2e2;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.header .topbox .PicMagnifier{
    position: relative;
    left: 677px;
    top:-5px;
}
.header .bottombox{
    width: 1000px;
    height: 60px;
}
.header .bottombox .nav .li1{
    width: 146px;
    height: 57px;
    border-right: 1px solid #4a4a4a;
    text-align: center;
    line-height: 57px;
}
.header .bottombox .nav li{
    float: left;
    list-style: none;
    width: 120px;
    height: 57px;
    border-right: 1px solid #4a4a4a;
    text-align: center;
    line-height: 57px;
    background-color: #2e2e2e;
    color: white;
}
.header .bottombox .nav .li2{
    width: 133px;
    height: 57px;
    text-align: center;
    line-height: 57px;
}
.banner{
    width: 1000px;
    height: 463px;
}
.container{
    width: 1000px;
    height: 796px;
}
.container .topbox{
    width: 1000px;
    height: 242px;      
}
.container .topbox .TopBoxLeft{
    width: 498px;
    height: 240px;
    float: left;
}
.container .topbox .TopBoxLeft .news li{
    margin-left: 40px;
    font-size: 14px;
    margin-top: 3px;
}
.container .topbox .TopBoxLeft .news li span{
    float: right;
    margin-right: 27px;
}
.container .topbox .TopBoxLeft .lefttitle{
    margin-top: 35px;
    margin-bottom: 29px;
    margin-left: 20px;
}
.container .topbox .TopBoxMiddle{
    width: 240px;
    height: 240px;
    float: left;
    background-color: #f1f1f1;
}
.container .topbox .TopBoxMiddle .MiddleTitle{
    margin-top: 35px;
    margin-left: 24px;
    margin-bottom: 34px;
}
.container .topbox .TopBoxMiddle .wordone{
    margin-left: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}
.container .topbox .TopBoxMiddle .wordtwo{
    margin-left: 24px;
    font-size: 14px;
    margin-bottom: 25px;
}
.container .topbox .TopBoxMiddle .wordthree{
    font-size: 13px;
    margin-left: 24px;
}
.container .topbox .TopBoxMiddle .wordfour{
    font-size: 13px;
    margin-left: 24px;
    margin-top: 10px;
}
.container .topbox .TopBoxRight{
    width: 254px;
    height: 240px;
    float: right;
    background-color: #fbfbfb;
}
.container .topbox .TopBoxRight .RightTitle{
    margin-top: 35px;
    margin-left: 24px;
    margin-bottom: 15px;
}
.container .topbox .TopBoxRight .word{
    margin-left: 24px;
    font-size: 13px;
    margin-top: 10px;
}
.container .topbox .TopBoxRight .picmore{
    margin-left: 24px;
    float: left;
    margin-top: 52px;
}
.container .topbox .TopBoxRight .picflower{
    margin-right: 10px;
    float: right;
}
.container .middlebox{
    width: 1000px;
    height: 230px;  
    margin-top: 27px;  
}
.container .middlebox .title{
    margin-left: 21px;
}
.container .middlebox .content{
    font-size: 12px;
}
.container .middlebox .MiddleBoxLeft{
    width: 214px;
    height: 197px;
    float: left;
    margin-left: 20px;
}
.container .middlebox .MiddleBoxMiddle{
    width: 214px;
    height: 197px;
    float: left;
    margin-left: 40px;
}
.container .middlebox .MiddleBoxMiddleTwo{
    width: 214px;
    height: 197px;
    float: left;
    margin-left: 40px;
}
.container .middlebox .MiddleBoxRight{
    width: 214px;
    height: 197px;
    margin-right: 10px;
    float: right;
}
.container .bottombox{
    width: 1000px;
    height: 248px;
    background-color: #e5e5e5;
    margin-top: 45px;     
    padding-top: 28px;   
}
.container .bottombox div{
    border: 0.5px solid #c1c1c1;
    margin-bottom: 20px;
}
.container .bottombox h3{
    margin-bottom: 10px;
    margin-left: 10px;
}
.container .bottombox .BottomBoxLeft{
    width: 458px;
    height: 203px;
    border: 1px solid #e5e5e5;
    float: left;
    margin-left: 20px;
}
.container .bottombox .BottomBoxLeft .listone{
    float: left;
}
.container .bottombox .BottomBoxLeft .listone li{
    list-style: none;
    font-size: 14px;
    margin-left: 10px;
}
.container .bottombox .BottomBoxLeft .listtwo{
    float: left;
}
.container .bottombox .BottomBoxLeft .listtwo li{
    font-size: 14px;
    list-style: none;
    margin-left: 80px;
    margin-right: 55px;
}
.container .bottombox .BottomBoxLeft .listthree li{
    font-size: 14px;
    list-style: none;
}
.container .bottombox .BottomBoxMiddle{
    width: 156px;
    height: 203px;
    border: 1px solid #e5e5e5;
    margin-left: 47px;
    float: left;
}
.container .bottombox .BottomBoxMiddle .listfive li{
    list-style: none;
    font-size: 14px;
    margin-left: 10px;
}
.container .bottombox .BottomBoxRight{
    width: 256px;
    height: 203px;
    border: 1px solid #e5e5e5;
    margin-left: 47px;
    float: left;
}
.container .bottombox .BottomBoxRight .pic{
    margin-left: 32px;
}
.footer{
    width: 1000px;
    height: 80px;
    padding-top: 25px;
}
.footer .link{
    float: left;
    margin-right: 125px;
    margin-left: 20px;
}
.footer .link li{
    float: left;
    list-style: none;
    font-size: 12px;
}
.footer span{
    font-size: 12px;
    float: left;
    margin-right: 13px;
}